- date_slot_presenter = WorkingDateSlotPresenter.new

= form.hidden_field :person_id, :value => current_user.id
- if working_date_slot.errors.present?
  %p.new-marketplace-errors
    = working_date_slot.errors.full_messages.join('<br />').html_safe

.input-daterange.input-group.clearfix
  .datepicker-per-hour
    .row
      .field
        = form.label :date
        = form.date_field :date, :id => "start_on", :data => {:locale => I18n.locale}, :class => "input-sm form-control required"
    .row
      .field
        = form.label :from
        = form.select :from, options_for_select(date_slot_presenter.time_slot_options, working_date_slot.from, ), {}, :id => "start_time"
    .row
      .field
        = form.label :till
        = form.select :till, options_for_select(date_slot_presenter.time_slot_options, working_date_slot.till), {}, :id => "end_time"

  = form.submit(translate(".submit"), :class => "enabled-book-button")
